<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Content Provider</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>	
  <body style='background-color: #f9faf7;'>
    <h1>ContentProvider + SQLite: </h1>
    <p>
    	Press enter/return for a new field
    </p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>


    <div class="container-fluid" ng-controller="objCtrl">

	    <div class="row">
	    <div class="col-md-12" align="center">
	 	   <div  class="panel panel-default col-md-3">
				<div class="panel-body">
					
						<input type="text" class="form-control col-ms-2" placeholder="Authority" ng-model="authority">
						<input type="text" class="form-control col-ms-2" placeholder="Database Name" ng-model="databaseName">
					</div>
					<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/yoga1290/ContentProvider-SQLite-Template" data-icon="octicon-star" data-style="mega" data-count-href="/yoga1290/ContentProvider-SQLite-Template/stargazers" data-count-api="/repos/yoga1290/ContentProvider-SQLite-Template#stargazers_count">Star</a>
<!-- Place this tag right after the last button or just before your close body tag. -->
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/yoga1290" data-style="mega" data-count-href="/yoga1290/followers" data-count-api="/users/yoga1290#followers">Follow @yoga1290</a>
				</div>
			</div>


	    <div class="col-md-3">
			<div class="panel panel-default" ng-repeat="table in tables">
				<div class="panel-heading">
						<div class="col-md-3 col-ms-5">
							<h1><span class="glyphicon glyphicon-list-alt"></span></h1>
					</div>
					<div class="col-md-8 col-ms-5">
							<input type="text" class="form-control" 
							ng-keypress="onTableKeyPress($event)"
							ng-model="table.name" placeholder="Object Class name">
					</div>
				
				</div>
				<div class="panel-body">
					<div class="input-group col-md-12" ng-repeat="field in table.fields">
						

						<input type="text" class="form-control" placeholder="Field name" ng-model="field.name" ng-keypress="onFieldKeyPress($event,table)">

						 <div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								{{field.type}}
								<span class="caret"></span>

							</button>
							<ul class="dropdown-menu" role="menu">
							<li><a href="#" ng-click="field.type='TEXT';">TEXT</a></li>
							<li><a href="#" ng-click="field.type='INTEGER';">INTEGER</a></li>
							<li><a href="#" ng-click="field.type='REAL';">REAL</a></li>
							<li>
								<a href="#" ng-click="field.isNotNull=!field.isNotNull;">
								<input type="checkbox" value="NN" ng-model="field.isNotNull"> Not Null
								</a>
							</li>
							<li>
								<a href="#" ng-click="field.isPrimaryKey=!field.isPrimaryKey;">
								<input type="checkbox" value="PK" ng-model="field.isPrimaryKey"> Primary Key
								</a>
							</li>
							<li>
								<a href="#" ng-click="field.isAutoincrement=!field.isAutoincrement;">
								<input type="checkbox" value="AI" ng-model="field.isAutoincrement"> Auto Increment
								</a>
							</li>
							<li><a href="#" ng-click="removeField(table,$index)">REMOVE</a></li>
							</ul>
						</div><!-- .input-group-btn -->

						

					</div>

				</div> <!-- .panel-body -->
			</div> <!-- .panel -->
		</div>



<div class="col-md-8">

<ul class="nav nav-tabs" role="tablist">

	<li ng-class="{active:selectedTab==-2}">
  		<a href="#" ng-click="selectedTab=-2">
  		<h4><span class="glyphicon glyphicon-file"></span>AndroidManifest.xml</h4></a>
  	</li>
	<li ng-class="{active:selectedTab==-1}">
  		<a href="#" ng-click="selectedTab=-1">
  		<h4><span class="glyphicon glyphicon-file"></span>ContentProvider</h4></a>
  	</li>

	<li ng-repeat="table in tables" ng-class="{active:$index==selectedTab }">
  	<a href="#" ng-click="setSelectedTab($index);">
  		<h4><span class="glyphicon glyphicon-file"></span>{{table.name}}</h4></a>
  </li>

</ul>

		<div class="panel panel-default">
		<div class="panel-body">


		<!-- Repository -->
		<textarea class="form-control" rows="40"
		ng-repeat="table in tables"
		ng-show="$index==selectedTab">
package {{authority}};

import android.content.ContentResolver;
import android.content.ContentValues;
import android.database.Cursor;
import android.net.Uri;

public class {{table.name}}
{
    private ContentResolver contentResolver;
    public static final int
    	{{getContactField(table)}}
    	ID=0;
    public static final String
            TABLE_NAME="{{table.name}}",

            DATABASE_NAME="{{databaseName}}";
    public static final String SQL_CREATE="{{getCreateSQL(table)}}";
    public static final String SQL_DROP="DROP TABLE IF EXISTS {{table.name}}";

	{{getPROJECTION(table)}}

    public static final String AUTHORITY = "{{authority}}";
    public static final Uri {{table.name}}URI=Uri.parse("content://"+AUTHORITY+"/"+TABLE_NAME);

    public {{table.name}}(ContentResolver contentResolver)
    {
        this.contentResolver=contentResolver;
    }

    public static String[][] cursor2Array(Cursor c)
    {
        String res[][]=new String[c.getCount()][PROJECTION.length];
        for(int i=0;i<c.getCount();i++) {
            c.moveToNext();
            for (int j = 0; j < PROJECTION.length; j++)
                res[i][j] =c.getString(j);
        }
        return res;
    }

    public String[][] get(){
        return 
        	cursor2Array(
	        	contentResolver.query(
	                {{table.name}}URI,
	                PROJECTION,
	                null,
	                null
	                ,null)
	        );
    }
    
    {{getGetters(table)}}

    {{getINSERTstatment(table)}}

    {{getDELETEStatments(table)}}
}
</textarea>

<textarea class="form-control"  rows="46" ng-show="selectedTab==-1">
package {{authority}};

import android.content.ContentValues;
import android.content.Context;
import android.database.Cursor;
import android.database.sqlite.SQLiteDatabase;
import android.database.sqlite.SQLiteOpenHelper;
import android.database.sqlite.SQLiteQueryBuilder;
import android.net.Uri;
import android.util.Log;

public class ContentProvider extends android.content.ContentProvider {

	@Override
	public String getType(Uri uri) {
		// TODO: Implement this to handle requests for the MIME type of the data
		// at the given URI.
		throw new UnsupportedOperationException("Not yet implemented");
	}

	private SQLiteDatabase database;
	private String DATABASE_NAME="{{databaseName}}";
    private int DATABASE_VERSION=1;

	/*
	Called when the database is created for the first time.
	*/
	@Override
	public boolean onCreate() {
		SQLiteOpenHelper dbHelper=new SQLiteOpenHelper(getContext(),DATABASE_NAME, null,DATABASE_VERSION) {
	                        @Override
	                        public void onCreate(SQLiteDatabase sqLiteDatabase) {
	                            {{getAllCreateSQL(tables)}}
	                        }

	                        @Override
	                        public void onUpgrade(SQLiteDatabase sqLiteDatabase, int oldVersion, int newVersion) {
	                            {{getAllDropSQL(tables)}}
	                            onCreate(sqLiteDatabase);
	                        }
	                    };
		database = dbHelper.getWritableDatabase();
		return (database != null);
	}

	@Override
	public Cursor query(Uri uri, String[] projection, String selection,
			String[] selectionArgs, String sortOrder) {
		return database.query(uri.getLastPathSegment(),projection,selection,selectionArgs,null,null,sortOrder);
	}

	@Override
	public Uri insert(Uri uri, ContentValues values) {
		long id=database.insertWithOnConflict(uri.getLastPathSegment(), null, values, SQLiteDatabase.CONFLICT_REPLACE);
		return Uri.parse(uri.toString()+"/"+id);
	}

	@Override
	public int update(Uri uri, ContentValues values, String selection,
		String[] selectionArgs) {
		return database.update(uri.getLastPathSegment(),values,selection,selectionArgs);
	}
	@Override
    public int delete(Uri uri, String selection, String[] selectionArgs) {
        return database.delete(uri.getLastPathSegment(),selection,selectionArgs);
    }
}</textarea> <!-- textarea -->

<textarea class="form-control"  rows="46" ng-show="selectedTab==-2">
<provider
	android:name="{{authority}}.ContentProvider"
	android:authorities="{{authority}}"
	android:label="sync_label"
	android:enabled="true"
	android:syncable="true"
	android:exported="false" >
</provider>
</textarea>


		</div> <!-- .panel-body -->
		</div> <!-- .panel -->

		</div> <!-- .col -->




		</div> <!-- .row -->

	</div> <!-- .container -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
	<script>
	angular.module('app',[]);

	angular
		.module('app')
			.controller('objCtrl',function($scope){
				var sp=$scope;
				sp.selectedTab=-1;
				sp.databaseName='';
				sp.authority='';
				sp.tables=[
							{
								name:'',
								fields:[
									{
										name:'',
										type:'TEXT',
										isPrimaryKey:false,
										isAutoincrement:false,
										isNotNull:false
									}
								]
							}
						];
				sp.setSelectedTab=function(index){
					sp.selectedTab=index;
				};
				sp.onFieldKeyPress=function(e,table){
					if(e.keyCode==13)
					{
						table.fields.push({
										name:'',
										type:'TEXT',
										isPrimaryKey:false,
										isAutoincrement:false,
										isNotNull:false
									});
						$('input[type=text]').last().focus();
					}
				};
				sp.onTableKeyPress=function(e){
					if(e.keyCode==13)
					{
						$scope.tables.push({
										name:'',
										fields:[
											{
												name:'',
												type:'TEXT',
												isPrimaryKey:false,
												isAutoincrement:false,
												isNotNull:false
											}
										]
									});
						$('input[type=text]').last().focus();
					}
				};
				sp.removeField=function(table,index){
					var nFields=[];
					for(var i=0;i<table.fields.length;i++)
						if(i!=index)
							nFields.push(table.fields[i]);
					table.fields=nFields;
				};
				sp.getContactField=function(table){
					var txt='';
					// first element in the PROJECTION will be the Id
					for(var i=0;i<table.fields.length;i++)
						txt+='\t\t'+table.fields[i].name.toUpperCase()+'='+(i+1)+',\n';
					return txt;
				};
				sp.getCreateSQL=function(table){
					//TODO
					var txt='CREATE TABLE '+table.name+' ( Id INTEGER PRIMARY KEY autoincrement,';
					var f='';
					for(var i=0;i<table.fields.length;i++)
						f+=','+table.fields[i].name+' '+table.fields[i].type
								+(table.fields[i].isPrimaryKey ? 'PRIMARY KEY ':'')
								+(table.fields[i].isAutoincrement ? 'autoincrement ':'')
								+(table.fields[i].isNotNull ? 'NOT NULL ':'');
					txt+=f.substring(1,f.length);
					return txt+');';
				};
				sp.getAllDropSQL=function(tables){
					var txt='';
					for(var i=0;i<tables.length;i++)
						txt+='\t\tsqLiteDatabase.execSQL('+tables[i].name+'.SQL_DROP);\n';
					return txt;
				};
				sp.getAllCreateSQL=function(tables){
					var txt='';
					for(var i=0;i<tables.length;i++)
						txt+='\t\tsqLiteDatabase.execSQL('+tables[i].name+'.SQL_CREATE);\n';
					return txt;
				};
				sp.getINSERTstatment=function(table){
					var i=0;
					
					var parameters='';
					var cv_put='';
					for(i=0;i<table.fields.length;i++)
					{
						if(table.fields[i].type=='TEXT')
							parameters+=',String '+table.fields[i].name;
						else if(table.fields[i].type=='INTEGER')
							parameters+=',int '+table.fields[i].name;
						else if(table.fields[i].type=='REAL')
							parameters+=',double '+table.fields[i].name;

						cv_put+='\t\tcv.put("'+table.fields[i].name+'",'+table.fields[i].name+');\n';
					}
					parameters=parameters.substring(1,parameters.length);

					return	(
						'\tpublic String insert('+parameters+') {\n'+
						'\t\tContentValues cv=new ContentValues();\n'+
						cv_put+
						'\t\tUri id=contentResolver.insert('+table.name+'URI,cv);\n'+
						'\t\treturn id.getLastPathSegment();\n'+
						'\t}\n');
				};

				sp.getPROJECTION=function(table){
					var txt='';
					for(var i=0;i<table.fields.length;i++)
						txt+=',"'+table.fields[i].name+'"';
					txt=txt.substring(1,txt.length);
					return 'public static final String PROJECTION[]=new String[]{"Id",'+txt+'};';
				};
				sp.getGetters=function(table){
					var txt='';
					for(var i=0;i<table.fields.length;i++)
					txt+='\tpublic String[][] get_where_'+table.fields[i].name.toUpperCase()+'(String '+table.fields[i].name+'){\n'+
						'\treturn cursor2Array(contentResolver.query(\n'+
						'\t\t'+table.name+'URI,\n'+
						'\t\tPROJECTION,\n'+
						'\t\t"'+table.fields[i].name+' =?",\n'+
						'\t\tnew String[]{'+table.fields[i].name+'}\n'+
						'\t\t,null));\n'+
						'\t}\n';
					return txt;
				};
				sp.getDELETEStatments=function(table){
					var txt='';
					for(var i=0;i<table.fields.length;i++)
					txt+='\tpublic int delete_where_'+table.fields[i].name.toUpperCase()+'(String '+table.fields[i].name+'){\n'+
						'\treturn contentResolver.delete(\n'+
						'\t\t'+table.name+'URI,\n'+
						'\t\t"'+table.fields[i].name+' =?",\n'+
						'\t\tnew String[]{'+table.fields[i].name+'});\n'+
						'\t}\n';
					return txt;
				};
			});

	</script>
  </body>
</html>